<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension point = "org.eclipse.debug.core.launchConfigurationTypes">
   <launchConfigurationType
   	   id="com.kezoo.grouplaunch.core.GroupLaunchConfigurationType"
	   name="Group Launch"
	   delegate="com.kezoo.grouplaunch.core.GroupLaunchConfigurationDelegate"
	   modes= "run"
	   sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
       sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
   </launchConfigurationType>
</extension>

<extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="com.kezoo.grouplaunch.core.GroupLaunchConfigurationType"
            helpContextId="org.eclipse.jdt.debug.ui.launchConfigHelpContext.local_java_application"
            class="com.kezoo.grouplaunch.ui.GroupLaunchConfigurationTabGroup"
            id="com.kezoo.grouplaunch.ui.GroupLaunchConfigurationTabGroup"
            bannerImage="icons/group.png">
            <launchMode 
                  mode="debug"
                  perspective="org.eclipse.debug.ui.DebugPerspective"
                  description="Debug a group of launch configurations">
            </launchMode>
            <launchMode
                  mode="run"
                  description="Run a group of launch configurations">
            </launchMode>
      </launchConfigurationTabGroup>
      </extension>
      
<extension 
	point="org.eclipse.debug.ui.launchConfigurationTypeImages">
<launchConfigurationTypeImage 
	icon="icons/group.png" 
	configTypeID="com.kezoo.grouplaunch.core.GroupLaunchConfigurationType" 
	id="org.eclipse.debug.ui.GroupLaunchConfigurationTypeImage">
</launchConfigurationTypeImage>
</extension>


</plugin>
