<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

<extension point = "org.eclipse.debug.core.launchConfigurationTypes">
   <launchConfigurationType
   	   id="com.kezoo.grouplaunch.core.GroupLaunchConfigurationType"
	   name="Group Launch"
	   delegate="com.kezoo.grouplaunch.core.GroupLaunchConfigurationDelegate"
	   modes= "run, debug"
	   sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
       sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
   </launchConfigurationType>
</extension>

<extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="com.kezoo.grouplaunch.core.GroupLaunchConfigurationType"
            helpContextId="org.eclipse.jdt.debug.ui.launchConfigHelpContext.local_java_application"
            class="com.kezoo.grouplaunch.ui.GroupLaunchConfigurationTabGroup"
            id="com.kezoo.grouplaunch.ui.GroupLaunchConfigurationTabGroup"
            bannerImage="icons/group.png">
            <launchMode 
                  mode="debug"
                  perspective="org.eclipse.debug.ui.DebugPerspective"
                  description="Debug a group of launch configurations">
            </launchMode>
            <launchMode
                  mode="run"
                  description="Run a group of launch configurations">
            </launchMode>
      </launchConfigurationTabGroup>
      </extension>
      
<extension 
	point="org.eclipse.debug.ui.launchConfigurationTypeImages">
<launchConfigurationTypeImage 
	icon="icons/group.png" 
	configTypeID="com.kezoo.grouplaunch.core.GroupLaunchConfigurationType" 
	id="org.eclipse.debug.ui.GroupLaunchConfigurationTypeImage">
</launchConfigurationTypeImage>
</extension>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Sample Category"
            id="com.kezoo.grouplaunch.ui.commands.category">
      </category>
      <command
            name="Sample Command"
            categoryId="com.kezoo.grouplaunch.ui.commands.category"
            id="com.kezoo.grouplaunch.ui.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.kezoo.grouplaunch.ui.commands.sampleCommand"
            class="com.kezoo.grouplaunch.ui.handlers.SampleHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.kezoo.grouplaunch.ui.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Sample Menu"
               mnemonic="M"
               id="com.kezoo.grouplaunch.ui.menus.sampleMenu">
            <command
                  commandId="com.kezoo.grouplaunch.ui.commands.sampleCommand"
                  mnemonic="S"
                  id="com.kezoo.grouplaunch.ui.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.kezoo.grouplaunch.ui.toolbars.sampleToolbar">
            <command
                  commandId="com.kezoo.grouplaunch.ui.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="com.kezoo.grouplaunch.ui.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
